body {
    background-image: url(assets/bg.jpg)
}

.mainPage {
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
    background-color: white;
    color: black;
    text-align: center;
}
.mainText{
    color: black;
    margin-top: 30px;
    text-align: center;
}